/*--------------------------------------------------------------
MENU DROPDOWN
--------------------------------------------------------------*/
ul.dropdown,
ul.dropdown li,
ul.dropdown ul{
  list-style: none;
}

ul.dropdown{
  position: relative;
  z-index: 597;
}

ul.dropdown li{
  float: left;
  min-height: 1px;
  vertical-align: middle;
}

ul.dropdown li.hover,
ul.dropdown li:hover{
  position: relative;
  z-index: 599;
  cursor: default;
}

/* DIRECAO DO SUBMENU*/

ul.dropdown-right ul{
  right: 0;
}

ul.dropdown-left ul{
  left: 0;
}

/* SUBMENU */
ul.dropdown ul{
  visibility: hidden;
  position: absolute;
  top: 100%;
  z-index: 598;
  font-size: 12px;
}

ul.dropdown ul li{
  float: none;
}

ul.dropdown ul ul{
  top: 1px;
  left: 99%;
}

ul.dropdown li:hover > ul{
  visibility: visible;
  width: 100%;
}

/*--------------------------------------------------------------
  IMAGENS
--------------------------------------------------------------*/
.alignleft,
img.alignleft{
  display: inline;
  float: left;
  margin: 15px 15px 26px 0;
}

.alignright,
img.alignright{
  display: inline;
  float: right;
  margin: 15px 0 15px 15px;
}

.aligncenter,
img.aligncenter{
  clear: both;
  display: block;
  margin: 15px auto 10px auto;
}

.alignnone,
img.alignnone{
  clear: both;
  display: block;
  margin: 20px auto;
}

/* ----------------------------------------------
  PAGINAÇÃO
---------------------------------------------- */
.pagination {
  font-size: 0;
}

.pagination li {
  display: inline-block;
  margin-left: 5px;
  text-align: center;
}

.pagination li:first-child {
  margin-left: 0;
}

.pagination a,
.pagination span,
.pagination .current {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  color: #797979;
  font-size: 14px;
  display: block;
  min-width: 36px;
  padding: 10px;
  text-decoration: none;
}

.pagination .current {
  background: #e0e0e0;
  color: #fff;
  cursor: default;
}

/* ----------------------------------------------
  BLOCKQUOTE
---------------------------------------------- */
blockquote{
  margin: 1.5em 0 1.5em;
    padding: 0 8em 0 12em;
    position: relative;
    text-align: justify;
}

blockquote:before{
  color: #ccc;
  content: "\201C";
  font-size: 5em;
  position: absolute;
  left: 140px;
  top: 0.3em;
  line-height: 0.1em;
}

blockquote:after{
  color: #ccc;
  content: "\201D";
  font-size: 5em;
  position:absolute;
  right:103px;
  bottom: 0em;
  line-height: 0.1em;
}

/* ----------------------------------------------
  COMENTÁRIOS
---------------------------------------------- */  
/*Commentários individuais*/

.comments-area {
  background-color: #fff;
  padding: 15px;
}

.comments-area > :last-child {
  margin-bottom: 0;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
  padding-top: 1.6em;
}

.comments-title,
.comment-reply-title {
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.3333;
}

.comments-title {
  margin-bottom: 1.3333em;
}

.comment-list {
  list-style: none;
  margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  padding: 1.6em 0;
}

.comment-list .children {
  list-style: none;
  margin: 0;
}

.comment-list .children > li {
  padding-left: 0.8em;
}

.comment-author {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  margin-bottom: 0.4em;
}

.comment-author a:hover {
  border-bottom: 1px solid #707070;
  border-bottom: 1px solid rgba(51, 51, 51, 0.7);
}

.comment-author .avatar {
  float: left;
  height: 24px;
  margin-right: 0.8em;
  width: 24px;
}

.bypostauthor > article .fn:after {
  content: "\f304";
  position: relative;
  top: 5px;
  left: 3px;
}

.comment-metadata,
.pingback .edit-link {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.comment-metadata a,
.pingback .edit-link a {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
}

.comment-metadata a:hover,
.pingback .edit-link a:hover {
  border-bottom: 1px solid #333;
}

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .edit-link a:hover,
.pingback .edit-link a:focus {
  color: #333;
}

.comment-metadata {
  margin-bottom: 1.6em;
}

.comment-metadata .edit-link {
  margin-left: 1em;
}

.pingback .edit-link {
  margin-left: 1em;
}

.pingback .edit-link:before {
  top: 5px;
}

.comment-content ul,
.comment-content ol {
  margin: 0 0 1.6em 1.3333em;
}

.comment-content li > ul,
.comment-content li > ol {
  margin-bottom: 0;
}

.comment-content > :last-child {
  margin-bottom: 0;
}

.comment-list .reply {
  font-size: 12px;
  font-size: 1.2rem;
}

.comment-list .reply a {
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  line-height: 1;
  margin-top: 2em;
  padding: 0.4167em 0.8333em;
  text-transform: uppercase;
}

.comment-list .reply a:hover,
.comment-list .reply a:focus {
  border-color: #333;
  color: #333;
  outline: 0;
}

.comment-form {
  padding-top: 1.6em;
}

.comment-form label {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-transform: uppercase;
}

textarea#comment,
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form input[type="submit"] {
  width: 100%;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2em;
}

.logged-in-as a:hover {
  border-bottom: 1px solid #333;
}

.no-comments {
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  padding-top: 1.6em;
}

.comment-navigation + .no-comments {
  border-top: 0;
}

.form-allowed-tags code {
  font-family: Inconsolata, monospace;
}

.form-submit {
  margin-bottom: 0;
}

.required {
  color: #c0392b;
}

.comment-reply-title small {
  font-size: 100%;
}

.comment-reply-title small a {
  border: 0;
  float: right;
  height: 32px;
  overflow: hidden;
  width: 26px;
}

.comment-reply-title small a:before {
  content: "\f405";
  font-size: 32px;
  position: relative;
  top: -3px;
}