/*--------------------------------------------------------------
MENU DROPDOWN
--------------------------------------------------------------*/
ul.dropdown,
ul.dropdown li,
ul.dropdown ul{
  list-style: none;
}

ul.dropdown{
  position: relative;
  z-index: 597;
}

ul.dropdown li{
  float: left;
  min-height: 1px;
  vertical-align: middle;
}

ul.dropdown li.hover,
ul.dropdown li:hover{
  position: relative;
  z-index: 599;
  cursor: default;
}

/* DIRECAO DO SUBMENU*/

ul.dropdown-right ul{
  right: 0 ;
}

ul.dropdown-left ul{
  left: 0 ;
}

/* SUBMENU */
ul.dropdown ul{
  visibility: hidden;
  position: absolute;
  top: 100%;
  z-index: 598;
  font-size: 12px;
}

ul.dropdown ul li{
  float: none;
}

ul.dropdown ul ul{
  top: 1px;
  left: 99%;
}

ul.dropdown li:hover > ul{
  visibility: visible;
  width: 100%;
}

/*--------------------------------------------------------------
  IMAGENS
--------------------------------------------------------------*/
.alignleft,
img.alignleft{
  display: inline;
  float: left;
  margin: 15px 15px 26px 0;
}

.alignright,
img.alignright{
  display: inline;
  float: right;
  margin: 15px 0 15px 15px;
}

.aligncenter,
img.aligncenter{
  clear: both;
  display: block;
  margin: 15px auto 10px auto;
}

.alignnone,
img.alignnone{
  clear: both;
  display: block;
  margin: 20px auto;
}

/* ----------------------------------------------
  PAGINAÇÃO
---------------------------------------------- */
.pagination {
  font-size: 0;
}

.pagination li {
  display: inline-block;
  margin-left: 5px;
  text-align: center;
}

.pagination li:first-child {
  margin-left: 0;
}

.pagination a,
.pagination span,
.pagination .current {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  color: #797979;
  font-size: 14px;
  display: block;
  min-width: 36px;
  padding: 10px;
  text-decoration: none;
}

.pagination .current {
  background: #e0e0e0;
  color: #fff;
  cursor: default;
}

/* ----------------------------------------------
  BLOCKQUOTE
---------------------------------------------- */
blockquote{
  margin: 1.5em 0 1.5em;
    padding: 0 8em 0 12em;
    position: relative;
    text-align: justify;
}

blockquote:before{
  color: #ccc;
  content: "\201C";
  font-size: 5em;
  position: absolute;
  left: 140px;
  top: 0.3em;
  line-height: 0.1em;
}

blockquote:after{
  color: #ccc;
  content: "\201D";
  font-size: 5em;
  position:absolute;
  right:103px;
  bottom: 0em;
  line-height: 0.1em;
}

/* ----------------------------------------------
  COMENTÁRIOS
---------------------------------------------- */  
#comments{
    margin-top: 20px;
    width: 100%;
}

.comentarios-tt{
    color: #333;
    font-size: 16px;
    font-weight: 200;
}

.input{
    background: #fff;
    border: 1px solid #dedede;
    color: #8e8e8e;
    font-size: 14px;
    margin: 7px 0 15px 0;
    padding: 24px;
    width: 100%;
}

.input-50{
    float: left;
    margin-left: 10px;
    width: 49.1%;
}

.cf .input-50:first-child{
    margin-left: 0;
}

.comentarios-btn {
    background-color: #f9f9f9; 
    border: 2px solid $333;
    color: #333;
    font-size: 14px;
    font-weight: 100;   
    padding: 11px 23px;
}

.comentarios-btn:hover {
    text-decoration: underline;
}

.txt-comentarios{
    font-size: 15px;
    margin-top: 10px;
}

.txt-comentarios a{
    color: #5c6873;
    text-decoration: none;
}

.txt-comentarios a:hover{
    text-decoration: underline;
}

.comment-author{
    float: left;
    margin-right: 24px;
}

.comment-author img{
    max-width: 64px;
    max-height: 64px;
}

#respond{
    width: 100%;
    clear: both;
}

cite.fn, .url{
    color: #3f444a;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
}

span.says{
    color: #b6b6b6;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
}

.comment-meta p{
    color: #5c6873;
    font-size: 15px;
    font-weight: 100;
    margin: 3px 0 15px 0;
}

.comment-meta a{
    text-decoration: none;
    color: #3f444a;
    font-size: 15px;
}

a.comment-edit-link{
    color: #333;
    font-size: 15px;
}

a.comment-edit-link:hover{
    text-decoration: underline;
}

.commentlist{
    margin: 10px 0px 100px 0;
}

ul.commentlist li{
    margin-bottom: 75px;
}

.comment-reply-link{
    font-size: 13px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.comment-reply-link:hover{
    text-decoration: underline;
}

.children{
    margin: 70px 0 0 50px;
}