/* CSS GERAL */
.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 14px;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  *zoom: 1;
  margin: 0 -14px;
}

/*--------------------------------------------------------------
    FORMATAÇÃO CLASSE XS, SM E LG
--------------------------------------------------------------*/
.col-xs-1, .col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,
.col-sm-1, .col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,
.col-md-1, .col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,
.col-lg-1, .col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
    position: relative;
    min-height: 1px;
    padding: 0 14px;
    margin-bottom: 28px;
}

/*--------------------------------------------------------------
    FORMATAÇÃO CLASSE XS
--------------------------------------------------------------*/
.col-xs-1, .col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
    float: left;
}

.col-xs-1 { width: 8.33%; }
.col-xs-2 { 
    width: 16.66%;
    *width: 14.5%;
}
.col-xs-3 { 
    width: 25%;
    *width: 23.9%;
}
.col-xs-4 { 
    width: 33.33%;
    *width: 31.15%;
}
.col-xs-5 { 
    width: 41.65%;
    *width: 39.5%;
}
.col-xs-6 { 
    width: 50%;
    *width: 47.8%;
}
.col-xs-7 { 
    width: 58.33%;
    *width: 56.1%;
}
.col-xs-8 { 
    width: 66.66%;
    *width: 64.4%;
}
.col-xs-9 { 
    width: 75%;
    *width: 71.7%;
}
.col-xs-10 { 
    width: 83.33%;
    *width: 81.1%;
}
.col-xs-11 { 
    width: 91.66%;
    *width: 87.25%;
}
.col-xs-12 { width: 100%; }

/*--------------------------------------------------------------
    PULL xs
--------------------------------------------------------------*/
.col-xs-pull-1 { right: 8.33%; }
.col-xs-pull-2 { 
    right: 16.66%;
    *right: 14.5%;
}
.col-xs-pull-3 { 
    right: 25%;
    *right: 23.9%;
}
.col-xs-pull-4 { 
    right: 33.33%;
    *right: 31.15%;
}
.col-xs-pull-5 { 
    right: 41.66%;
    *right: 39.5%;
}
.col-xs-pull-6 { 
    right: 50%;
    *right: 47.8%;
}
.col-xs-pull-7 { 
    right: 58.33%;
    *right: 56.1%;
}
.col-xs-pull-8 { 
    right: 66.66%;
    *right: 64.4%;
}
.col-xs-pull-9 { 
    right: 75%;
    *right: 71.7%;
}
.col-xs-pull-10 { 
    right: 83.33%;
    *right: 81.1%;
}
.col-xs-pull-11 { 
    right: 91.66%;
    *right: 87.25%;
}
.col-xs-pull-12 { right: 100%; }

/*--------------------------------------------------------------
    PUSH xs
--------------------------------------------------------------*/
.col-xs-push-1 { left: 8.33%; }
.col-xs-push-2 { 
    left: 16.66%;
    *left: 14.5%;
}
.col-xs-push-3 { 
    left: 25%;
    *left: 23.9%;
}
.col-xs-push-4 { 
    left: 33.33%;
    *left: 31.15%;
}
.col-xs-push-5 { 
    left: 41.66%;
    *left: 39.5%;
}
.col-xs-push-6 { 
    left: 50%;
    *left: 47.8%;
}
.col-xs-push-7 { 
    left: 58.33%;
    *left: 56.1%;
}
.col-xs-push-8 { 
    left: 66.66%;
    *left: 64.4%;
}
.col-xs-push-9 { 
    left: 75%;
    *left: 71.7%;
}
.col-xs-push-10 { 
    left: 83.33%;
    *left: 81.1%;
}
.col-xs-push-11 { 
    left: 91.66%;
    *left: 87.25%;
}
.col-xs-push-12 { left: 100%; }

/*--------------------------------------------------------------
    OFFSETs xs
--------------------------------------------------------------*/
.offset-xs-1 { margin-left: 8.33%; }
.offset-xs-2 { 
    margin-left: 16.66%; 
    *margin-left: 14.5%;
}
.offset-xs-3 { 
    margin-left: 25%;
    *margin-left: 23.9%;
}
.offset-xs-4 { 
    margin-left: 33.33%;
    *margin-left: 31.15%;
}
.offset-xs-5 { 
    margin-left: 41.66%;
    *margin-left: 39.5%;
}
.offset-xs-6 { 
    margin-left: 50%;
    *margin-left: 47.8%;
}
.offset-xs-7 { 
    margin-left: 58.33%;
    *margin-left: 56.1%;
}
.offset-xs-8 { 
    margin-left: 66.66%;
    *margin-left: 64.4%;
}
.offset-xs-9 { 
    margin-left: 75%;
    *margin-left: 71.7%;
}
.offset-xs-10 { 
    margin-left: 83.33%;
    *margin-left: 81.1%;
}
.offset-xs-11 { 
    margin-left: 91.66%;
    *margin-left: 87.25%;
}


/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

    .col-sm-1, .col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float: left;
    }

    .col-sm-1 { width: 8.33%; }
    .col-sm-2 { 
        width: 16.66%;
        *width: 14.5%;
    }
    .col-sm-3 { 
        width: 25%;
        *width: 23.9%;
    }
    .col-sm-4 { 
        width: 33.33%;
        *width: 31.15%;
    }
    .col-sm-5 { 
        width: 41.65%;
        *width: 39.5%;
    }
    .col-sm-6 { 
        width: 50%;
        *width: 47.8%;
    }
    .col-sm-7 { 
        width: 58.33%;
        *width: 56.1%;
    }
    .col-sm-8 { 
        width: 66.66%;
        *width: 64.4%;
    }
    .col-sm-9 { 
        width: 75%;
        *width: 71.7%;
    }
    .col-sm-10 { 
        width: 83.33%;
        *width: 81.1%;
    }
    .col-sm-11 { 
        width: 91.66%;
        *width: 87.25%;
    }
    .col-sm-12 { width: 100%; }

    /*--------------------------------------------------------------
        PULL sm
    --------------------------------------------------------------*/
    .col-sm-pull-1 { right: 8.33%; }
    .col-sm-pull-2 { 
        right: 16.66%;
        *right: 14.5%;
    }
    .col-sm-pull-3 { 
        right: 25%;
        *right: 23.9%;
    }
    .col-sm-pull-4 { 
        right: 33.33%;
        *right: 31.15%;
    }
    .col-sm-pull-5 { 
        right: 41.66%;
        *right: 39.5%;
    }
    .col-sm-pull-6 { 
        right: 50%;
        *right: 47.8%;
    }
    .col-sm-pull-7 { 
        right: 58.33%;
        *right: 56.1%;
    }
    .col-sm-pull-8 { 
        right: 66.66%;
        *right: 64.4%;
    }
    .col-sm-pull-9 { 
        right: 75%;
        *right: 71.7%;
    }
    .col-sm-pull-10 { 
        right: 83.33%;
        *right: 81.1%;
    }
    .col-sm-pull-11 { 
        right: 91.66%;
        *right: 87.25%;
    }
    .col-sm-pull-12 { right: 100%; }
    
    /*--------------------------------------------------------------
        PUSH sm
    --------------------------------------------------------------*/
    .col-sm-push-1 { left: 8.33%; }
    .col-sm-push-2 { 
        left: 16.66%;
        *left: 14.5%;
    }
    .col-sm-push-3 { 
        left: 25%;
        *left: 23.9%;
    }
    .col-sm-push-4 { 
        left: 33.33%;
        *left: 31.15%;
    }
    .col-sm-push-5 { 
        left: 41.66%;
        *left: 39.5%;
    }
    .col-sm-push-6 { 
        left: 50%;
        *left: 47.8%;
    }
    .col-sm-push-7 { 
        left: 58.33%;
        *left: 56.1%;
    }
    .col-sm-push-8 { 
        left: 66.66%;
        *left: 64.4%;
    }
    .col-sm-push-9 { 
        left: 75%;
        *left: 71.7%;
    }
    .col-sm-push-10 { 
        left: 83.33%;
        *left: 81.1%;
    }
    .col-sm-push-11 { 
        left: 91.66%;
        *left: 87.25%;
    }
    .col-sm-push-12 { left: 100%; }

    /*--------------------------------------------------------------
        OFFSETs sm
    --------------------------------------------------------------*/
    .offset-sm-1 { margin-left: 8.33%; }
    .offset-sm-2 { 
        margin-left: 16.66%; 
        *margin-left: 14.5%;
    }
    .offset-sm-3 { 
        margin-left: 25%;
        *margin-left: 23.9%;
    }
    .offset-sm-4 { 
        margin-left: 33.33%;
        *margin-left: 31.15%;
    }
    .offset-sm-5 { 
        margin-left: 41.66%;
        *margin-left: 39.5%;
    }
    .offset-sm-6 { 
        margin-left: 50%;
        *margin-left: 47.8%;
    }
    .offset-sm-7 { 
        margin-left: 58.33%;
        *margin-left: 56.1%;
    }
    .offset-sm-8 { 
        margin-left: 66.66%;
        *margin-left: 64.4%;
    }
    .offset-sm-9 { 
        margin-left: 75%;
        *margin-left: 71.7%;
    }
    .offset-sm-10 { 
        margin-left: 83.33%;
        *margin-left: 81.1%;
    }
    .offset-sm-11 { 
        margin-left: 91.66%;
        *margin-left: 87.25%;
    }
}


@media screen and (min-width: 992px){

    .col-md-1, .col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
       float: left;
    }

    .col-md-1 { width: 8.33%; }
    .col-md-2 { 
        width: 16.66%;
        *width: 13.7%;
    }
    .col-md-3 { 
        width: 25%;
        *width: 23.35%;
    }
    .col-md-4 { 
        width: 33.33%;
        *width: 30.2%;
    }
    .col-md-5 { 
        width: 41.65%;
        *width: 38.4%;
    }
    .col-md-6 { 
        width: 50%;
        *width: 46.7%;
    }
    .col-md-7 { 
        width: 58.33%;
        *width: 54.9%;
    }
    .col-md-8 { 
        width: 66.66%;
        *width: 63.2%;
    }
    .col-md-9 { 
        width: 75%;
        *width: 70%;
    }
    .col-md-10 { 
        width: 83.33%;
        *width: 79.7%;
    }
    .col-md-11 { 
        width: 91.66%;
        *width: 85%;
    }
    .col-md-12 { width: 100%; }

    /*--------------------------------------------------------------
        PULL md
    --------------------------------------------------------------*/
    .col-md-pull-1 { right: 8.33%; }
    .col-md-pull-2 { 
        right: 16.66%;
        *right: 14.5%;
    }
    .col-md-pull-3 { 
        right: 25%;
        *right: 23.9%;
    }
    .col-md-pull-4 { 
        right: 33.33%;
        *right: 31.15%;
    }
    .col-md-pull-5 { 
        right: 41.66%;
        *right: 39.5%;
    }
    .col-md-pull-6 { 
        right: 50%;
        *right: 47.8%;
    }
    .col-md-pull-7 { 
        right: 58.33%;
        *right: 56.1%;
    }
    .col-md-pull-8 { 
        right: 66.66%;
        *right: 64.4%;
    }
    .col-md-pull-9 { 
        right: 75%;
        *right: 71.7%;
    }
    .col-md-pull-10 { 
        right: 83.33%;
        *right: 81.1%;
    }
    .col-md-pull-11 { 
        right: 91.66%;
        *right: 87.25%;
    }
    .col-md-pull-12 { right: 100%; }
    
    /*--------------------------------------------------------------
        PUSH md
    --------------------------------------------------------------*/
    .col-md-push-1 { left: 8.33%; }
    .col-md-push-2 { 
        left: 16.66%;
        *left: 14.5%;
    }
    .col-md-push-3 { 
        left: 25%;
        *left: 23.9%;
    }
    .col-md-push-4 { 
        left: 33.33%;
        *left: 31.15%;
    }
    .col-md-push-5 { 
        left: 41.66%;
        *left: 39.5%;
    }
    .col-md-push-6 { 
        left: 50%;
        *left: 47.8%;
    }
    .col-md-push-7 { 
        left: 58.33%;
        *left: 56.1%;
    }
    .col-md-push-8 { 
        left: 66.66%;
        *left: 64.4%;
    }
    .col-md-push-9 { 
        left: 75%;
        *left: 71.7%;
    }
    .col-md-push-10 { 
        left: 83.33%;
        *left: 81.1%;
    }
    .col-md-push-11 { 
        left: 91.66%;
        *left: 87.25%;
    }
    .col-md-push-12 { left: 100%; }

    /*--------------------------------------------------------------
        OFFSETs md
    --------------------------------------------------------------*/
    .offset-md-1 { margin-left: 8.33%; }
    .offset-md-2 { 
        margin-left: 16.66%; 
        *margin-left: 14.5%;
    }
    .offset-md-3 { 
        margin-left: 25%;
        *margin-left: 23.9%;
    }
    .offset-md-4 { 
        margin-left: 33.33%;
        *margin-left: 31.15%;
    }
    .offset-md-5 { 
        margin-left: 41.66%;
        *margin-left: 39.5%;
    }
    .offset-md-6 { 
        margin-left: 50%;
        *margin-left: 47.8%;
    }
    .offset-md-7 { 
        margin-left: 58.33%;
        *margin-left: 56.1%;
    }
    .offset-md-8 { 
        margin-left: 66.66%;
        *margin-left: 64.4%;
    }
    .offset-md-9 { 
        margin-left: 75%;
        *margin-left: 71.7%;
    }
    .offset-md-10 { 
        margin-left: 83.33%;
        *margin-left: 81.1%;
    }
    .offset-md-11 { 
        margin-left: 91.66%;
        *margin-left: 87.25%;
    }
}

@media screen and (min-width: 1200px){

    .col-lg-1, .col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
        float: left;
    }

    .col-lg-1 { width: 8.33%; }
    .col-lg-2 { 
        width: 16.66%;
        *width: 14.5%;
    }
    .col-lg-3 { 
        width: 25%;
        *width: 23.9%;
    }
    .col-lg-4 { 
        width: 33.33%;
        *width: 31.15%;
    }
    .col-lg-5 { 
        width: 41.65%;
        *width: 39.5%;
    }
    .col-lg-6 { 
        width: 50%;
        *width: 47.8%;
    }
    .col-lg-7 { 
        width: 58.33%;
        *width: 56.1%;
    }
    .col-lg-8 { 
        width: 66.66%;
        *width: 64.4%;
    }
    .col-lg-9 { 
        width: 75%;
        *width: 71.7%;
    }
    .col-lg-10 { 
        width: 83.33%;
        *width: 81.1%;
    }
    .col-lg-11 { 
        width: 91.66%;
        *width: 87.25%;
    }
    .col-lg-12 { width: 100%; }

    /*--------------------------------------------------------------
        PULL lg
    --------------------------------------------------------------*/
    .col-lg-pull-1 { right: 8.33%; }
    .col-lg-pull-2 { 
        right: 16.66%;
        *right: 14.5%;
    }
    .col-lg-pull-3 { 
        right: 25%;
        *right: 23.9%;
    }
    .col-lg-pull-4 { 
        right: 33.33%;
        *right: 31.15%;
    }
    .col-lg-pull-5 { 
        right: 41.66%;
        *right: 39.5%;
    }
    .col-lg-pull-6 { 
        right: 50%;
        *right: 47.8%;
    }
    .col-lg-pull-7 { 
        right: 58.33%;
        *right: 56.1%;
    }
    .col-lg-pull-8 { 
        right: 66.66%;
        *right: 64.4%;
    }
    .col-lg-pull-9 { 
        right: 75%;
        *right: 71.7%;
    }
    .col-lg-pull-10 { 
        right: 83.33%;
        *right: 81.1%;
    }
    .col-lg-pull-11 { 
        right: 91.66%;
        *right: 87.25%;
    }
    .col-lg-pull-12 { right: 100%; }
    
    /*--------------------------------------------------------------
        PUSH lg
    --------------------------------------------------------------*/
    .col-lg-push-1 { left: 8.33%; }
    .col-lg-push-2 { 
        left: 16.66%;
        *left: 14.5%;
    }
    .col-lg-push-3 { 
        left: 25%;
        *left: 23.9%;
    }
    .col-lg-push-4 { 
        left: 33.33%;
        *left: 31.15%;
    }
    .col-lg-push-5 { 
        left: 41.66%;
        *left: 39.5%;
    }
    .col-lg-push-6 { 
        left: 50%;
        *left: 47.8%;
    }
    .col-lg-push-7 { 
        left: 58.33%;
        *left: 56.1%;
    }
    .col-lg-push-8 { 
        left: 66.66%;
        *left: 64.4%;
    }
    .col-lg-push-9 { 
        left: 75%;
        *left: 71.7%;
    }
    .col-lg-push-10 { 
        left: 83.33%;
        *left: 81.1%;
    }
    .col-lg-push-11 { 
        left: 91.66%;
        *left: 87.25%;
    }
    .col-lg-push-12 { left: 100%; }

    /*--------------------------------------------------------------
        OFFSETs lg
    --------------------------------------------------------------*/
    .offset-lg-1 { margin-left: 8.33%; }
    .offset-lg-2 { 
        margin-left: 16.66%; 
        *margin-left: 14.5%;
    }
    .offset-lg-3 { 
        margin-left: 25%;
        *margin-left: 23.9%;
    }
    .offset-lg-4 { 
        margin-left: 33.33%;
        *margin-left: 31.15%;
    }
    .offset-lg-5 { 
        margin-left: 41.66%;
        *margin-left: 39.5%;
    }
    .offset-lg-6 { 
        margin-left: 50%;
        *margin-left: 47.8%;
    }
    .offset-lg-7 { 
        margin-left: 58.33%;
        *margin-left: 56.1%;
    }
    .offset-lg-8 { 
        margin-left: 66.66%;
        *margin-left: 64.4%;
    }
    .offset-lg-9 { 
        margin-left: 75%;
        *margin-left: 71.7%;
    }
    .offset-lg-10 { 
        margin-left: 83.33%;
        *margin-left: 81.1%;
    }
    .offset-lg-11 { 
        margin-left: 91.66%;
        *margin-left: 87.25%;
    }
}

.pull-right {float: right !important;}
.pull-left {float: left !important;}
.hide {display: none !important;}
.show {display: block !important;}
.invisible {visibility: hidden;}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {display: none !important;}
.affix {position: fixed;}