/* ----------------------------------------------
    CSS PRINCIPAL DO SITE
---------------------------------------------- */

/* PÁGINA ERRO 404 */

.not-found {
  color: #707070;
  font-size: 20px;
  min-height: 500px;
  padding-top: 30px;
  text-align: center;
}

.not-found div {
  color: #e0e0e0;
  font-size: 5em;
  font-weight: bold;
}

.not-found p {
  border-top: 2px solid #e0e0e0;
  display: inline-block;
  margin-top: 30px;
  padding: 30px;
  width: 80%;
}

@media (min-width: 480px) {
  .not-found {
    font-size: 40px;
  }
}