/*--------------------------------------------------------------
    CSS GERAL
--------------------------------------------------------------*/
.row:before,
.row:after{
  content: "";
  display: table;
}

.row:after{
  clear: both;
}

.row{
  *zoom: 1;
  margin: 0 -14px;
}

/*--------------------------------------------------------------
    FORMATAÇÃO CLASSE XS, SM E LG
--------------------------------------------------------------*/
.col-xs-1, .col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,
.col-sm-1, .col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,
.col-md-1, .col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,
.col-lg-1, .col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
    padding: 0 14px;
    margin-bottom: 10px;
}

/*--------------------------------------------------------------
    FORMATAÇÃO CLASSE XS
--------------------------------------------------------------*/
.col-xs-1, .col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
    float: left;
    *display: inline-block;
}

.col-xs-1 { width: 8.33%; }
.col-xs-2 { width: 16.66%; }
.col-xs-3 { width: 24.99%; }
.col-xs-4 { width: 33.32%; }
.col-xs-5 { width: 41.65%; }
.col-xs-6 { width: 49.98%; }
.col-xs-7 { width: 58.31%; }
.col-xs-8 { width: 66.64%; }
.col-xs-9 { width: 74.97%; }
.col-xs-10 { width: 83.3%; }
.col-xs-11 { width: 91.63%; }
.col-xs-12 { width: 100%; }

/*--------------------------------------------------------------
    OFFSETs
--------------------------------------------------------------*/
.offset1 { margin-left: 8.33%; }
.offset2 { margin-left: 16.66%; }
.offset3 { margin-left: 24.99%; }
.offset4 { margin-left: 33.32%; }
.offset5 { margin-left: 41.65%; }
.offset6 { margin-left: 49.98%; }
.offset7 { margin-left: 58.31%; }
.offset8 { margin-left: 66.64%; }
.offset9 { margin-left: 74.97%; }
.offset10 { margin-left: 83.3%; }
.offset11 { margin-left: 91.63%; }

/*--------------------------------------------------------------
    MEDIA QUERIES
--------------------------------------------------------------*/
@media screen and (min-width: 768px){

    .col-sm-1, .col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
        float: left;
    	*display: inline-block;
    }

    .col-sm-1 { width: 8.33%; }
    .col-sm-2 { width: 16.66%; }
    .col-sm-3 { width: 24.99%; }
    .col-sm-4 { width: 33.32%; }
    .col-sm-5 { width: 41.65%; }
    .col-sm-6 { width: 49.98%; }
    .col-sm-7 { width: 58.31%; }
    .col-sm-8 { width: 66.64%; }
    .col-sm-9 { width: 74.97%; }
    .col-sm-10 { width: 83.3%; }
    .col-sm-11 { width: 91.63%; }
    .col-sm-12 { width: 100%; }
}

@media screen and (min-width: 992px){

    .col-md-1, .col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
        float: left;
    	*display: inline-block;
    }

    .col-md-1 { width: 8.33%; }
    .col-md-2 { width: 16.66%; }
    .col-md-3 { width: 24.99%; }
    .col-md-4 { width: 33.32%; }
    .col-md-5 { width: 41.65%; }
    .col-md-6 { width: 49.98%; }
    .col-md-7 { width: 58.31%; }
    .col-md-8 { width: 66.64%; }
    .col-md-9 { width: 74.97%; }
    .col-md-10 { width: 83.3%; }
    .col-md-11 { width: 91.63%; }
    .col-md-12 { width: 100%; }
}

@media screen and (min-width: 1200px){

    .col-lg-1, .col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
        float: left;
    	*display: inline-block;
    }

    .col-lg-1 { width: 8.33%; }
    .col-lg-2 { width: 16.66%; }
    .col-lg-3 { width: 24.99%; }
    .col-lg-4 { width: 33.32%; }
    .col-lg-5 { width: 41.65%; }
    .col-lg-6 { width: 49.98%; }
    .col-lg-7 { width: 58.31%; }
    .col-lg-8 { width: 66.64%; }
    .col-lg-9 { width: 74.97%; }
    .co-lg-10 { width: 83.3%; }
    .col-lg-11 { width: 91.63%; }
    .col-lg-12 { width: 100%; }
}
