/*--------------------------------------------------------------
    MAIN
--------------------------------------------------------------*/
*{
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before{
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  *behavior: url(../js/boxsizing.htc);
  -webkit-font-smoothing:antialiased;
          font-smoothing:antialiased;
  text-rendering:optimizeLegibility;

}

.cf:before,
.cf:after{
  content: "";
  display: table;
}
.cf:after{
  clear: both;
}
.cf{
  *zoom: 1;
}

img{
  border: 0;
  display: block;
  max-width: 100%;
}

object, embed, video, iframe, iframe[style]{
  max-width: 100%;
  height: auto;
}

/* aspect ratio do youtube 16:9 */
.ratiohd{
    position: relative;
    padding-bottom: 56.25%; /* (9/16) * 100 */
    float: left;
    width: 100%;
    height: 0;
    margin-bottom: 30px;
}
.ratio_el{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: normal;
}

ul{
  list-style-type: none;
}

.content{
  width: 100%;
  float: left;
}

/*--------------------------------------------------------------
    HTML 5
--------------------------------------------------------------*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary{
    display: block;
}

/*--------------------------------------------------------------
    TIPOGRAFIA
--------------------------------------------------------------*/
b,
strong{
    font-weight: bold;
}

hr{
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/* blockquote */
blockquote{
	margin: 1.5em 0 1.5em;
  	padding: 0 8em 0 12em;
  	position: relative;
  	text-align: justify;
}

blockquote:before{
	color: #ccc;
	content: "\201C";
	font-size: 5em;
	position: absolute;
	left: 140px;
	top: 0.3em;
	line-height: 0.1em;
}

blockquote:after{
	color: #ccc;
	content: "\201D";
	font-size: 5em;
	position:absolute;
	right:103px;
	bottom: 0em;
	line-height: 0.1em;
}

/*--------------------------------------------------------------
MENU DROPDOWN
--------------------------------------------------------------*/
ul.dropdown,
ul.dropdown li,
ul.dropdown ul{
  list-style: none;
}

ul.dropdown{
  position: relative;
  z-index: 597;
}

ul.dropdown li{
  float: left;
  min-height: 1px;
  vertical-align: middle;
}

ul.dropdown li.hover,
ul.dropdown li:hover{
  position: relative;
  z-index: 599;
  cursor: default;
}

/* DIRECAO DO SUBMENU*/

ul.dropdown-right ul{
  right: 0 ;
}

ul.dropdown-left ul{
  left: 0 ;
}

/* SUBMENU */
ul.dropdown ul{
  visibility: hidden;
  position: absolute;
  top: 100%;
  z-index: 598;
  font-size: 12px;
}

ul.dropdown ul li{
  float: none;
}

ul.dropdown ul ul{
  top: 1px;
  left: 99%;
}

ul.dropdown li:hover > ul{
  visibility: visible;
  width: 100%;
}

/*--------------------------------------------------------------
    IMAGENS WORDPRESS
--------------------------------------------------------------*/
.alignleft,
img.alignleft{
  display: inline;
  float: left;
  margin: 15px 15px 26px 0;
}

.alignright,
img.alignright{
  display: inline;
  float: right;
  margin: 15px 0 15px 15px;
}

.aligncenter,
img.aligncenter{
  clear: both;
  display: block;
  margin: 15px auto 10px auto;
}

.alignnone,
img.alignnone{
  clear: both;
  display: block;
  margin: 20px auto;
}

/*--------------------------------------------------------------
    RESPONSIVE YOUTUBE
--------------------------------------------------------------*/
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
